.xq_title{ background: #daf3ff; height: 35px; line-height: 35px; padding-left: 20px; clear: both;}
.xq_title .dosome{margin-left: 80px;}
.xq_title a{text-decoration: none; color: #333;margin: 0 20px;}
.xq_title span { padding-left: 10px;}